.layout1{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-gap: 5px 3em;
	margin: 3em;
}

#header1{
    grid-column: 1/4;
    height: 5em;
    justify-self: center;
}

#sidebar{
	display: grid;
	height: 170px;
	grid-row-gap: 10px;
	border: 1px solid white;
	border-radius: 3px;
	padding: 1em;
	background-color: #CCFFCC;
}

#sidebar a{
	text-decoration: none;
	color:  #8FBCDB;
	font-weight: bolder;
	padding: 0.5em;
	
}

#sidebar a:hover{
	color: #CCFFCC;
	background-color: #0099CC;
}

#welcum {
    color: #FFE8C2;
}

body{
	background: linear-gradient(to left, #00C9FF 0%, #92FE9D 100%);
}